.conteiner {
  width: 60vw;
  margin: 4rem auto;

  .contentPointTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    h1 {
      color: var(--title);
      font-size: 1.7rem;
      font-weight: 400;
    }

    & > div:first-child {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  hr {
    height: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    background: linear-gradient(to right, transparent, var(--lightgrey), transparent);
  }
}
