.inputLineContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &.reverse {
    flex-direction: row-reverse;
  }

  & > input:last-child {
    width: 18rem;
  }

  & > input:first-child {
    flex: 1;
  }
}
