.createPointPage {
  .itemList {
    height: 6.25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.2rem;

    .item {
      display: flex;
      align-items: center;
      gap: 0.4rem;

      cursor: pointer;

      padding: 0.2rem;
      border-radius: 2px;

      input {
        height: 1rem;
        width: 1rem;

        cursor: pointer;
      }

      label {
        font-size: 1rem;
        color: var(--text);

        cursor: pointer;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 2.4rem;

    margin-top: 3rem;

    button {
      width: auto;
    }
  }
}
