.signInPage {
  min-height: 100vh;
  max-width: 320px;
  margin: 0vh auto;
  padding: 10vh 0 2vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
      color: var(--title);
      font-size: 1.4rem;
      font-weight: 700;
    }
  }

  .signInContainer {
    & > span {
      color: var(--text);

      a {
        color: var(--blue);
        font-weight: 700;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .otherLinks {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: var(--placeholder);
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
