.conteiner {
    height: 13rem;
   
    box-shadow: 0 4px 2px rgba(100, 100, 100, 0.4);
    border-radius: 10px;
    
    overflow: hidden;
    
    .imageDiv {
        height: 9rem;
        background: var(--lightgrey);
    }

    .infoDiv {
        display: flex;
        justify-content: space-between;

        background: var(--white);

        div:not(div:last-child) {
            padding: 0.4rem 0.8rem;

            h3 {
                color: var(--text);
                font-size: 1.4rem;
                font-weight: 400;
                padding-bottom: 0.2rem;
            }

            span {
                font-weight: 400;
                font-size: 1rem;
                color: var(--light-text);
            }
        }

        div:last-child {
            line-height: 4rem;
            padding-right: 0.8rem;
        }
    }
}